<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fete</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.rairai.fete</string>
		</dict>
	</array>
	<key>SPOTIFY_CLIENT_ID</key>
	<string>$(SPOTIFY_CLIENT_ID)</string>
	<key>SPOTIFY_CLIENT_SECRET</key>
	<string>$(SPOTIFY_CLIENT_SECRET)</string>
	<key>SPOTIFY_REDIRECT_URI</key>
	<string>$(SPOTIFY_REDIRECT_URI)</string>
</dict>
</plist>
